.App {
    text-align: center;
}

.cards {
    text-align: -webkit-center;
    /* display: block; */
}

.card {
    margin-top: 2em;
    width: 16em;
    height: calc(1.4*16em);
    display: grid;
    grid-template-areas: 
            "digit blank blank blank blank"
            "blank blank blank blank blank"
            "blank blank face blank blank"
            "blank blank blank blank blank"
            "blank blank blank blank digit";
            gap: 10px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card > .digit {
    /* grid-area: digit; */
    /* background-color: aqua; */
}

.card > .face {
    /* grid-area: face; */
    /* background-color: cadetblue; */
}

.card > .blank {
    font-size: 40px;
    /* background-color: white; */
}

.spade {
    /* transform: translateY(-1em); */
    font-size: 40px;

}
.club {
    /* transform: translateY(-1em); */
    font-size: 40px;

}
.heart {
    /* transform: translateY(-1em); */
    font-size: 40px;

}
.diamond {

    /* transform: translateY(-1em); */
    font-size: 40px;

}
.spade::after{content:"\2660";color: black;padding: 5px;}
.heart::after{content:"\2665";color:red}
.diamond::after{content:"\2666";color:red}
.club::after{content:"\2663";color: black;}